{% extends "registration/base.html"%}

{% block content %}
<form action="/registration/sign_in/" method="post" class="container">
  {% csrf_token %}
  <div class="login-container">
    <label class="login">
      Email
      <input type="email" name="email">
    </label>
  </div>
  <div class="login-container">
    <label class="login">
      Password
      <input type="password" name="password">
    </label>
  </div>
  <button class="button">Sign In</button>

</form>
<div class='link-container'>
  <a href="/registration/sign_up/" class="link">Create New Account</a>
</div>
{% endblock %}
