{% extends "registration/base.html"%}

{% block content %}
<form action="/registration/sign_up/" method="post" class="">
  {% csrf_token %}
  <div class="">
    <label class="">
      Email
      <input type="email" name="email">
    </label>
  </div>
  <div class="">
    <label class="">
      Password
      <input type="password" name="password">
    </label>
  </div>
  <div class="">
    <label class="">
      First Name
      <input type="text" name="first_name">
    </label>
  </div>
  <div class="">
    <label class="">
      Last Name
      <input type="text" name="last_name">
    </label>
  </div>
  <div class="">
    <label class="">
      Address
      <input type="text" name="address">
    </label>
  </div>
  {% block additional %}
  {% endblock %}

  <button class="">Create Account</button>
</form>
{% endblock %}
