{% extends "registration/base.html"%}

{% block content %}
<form action="/registration/sign_in/" method="post" class="">
  {% csrf_token %}
  <div class="">
    <label class="login">
      Email
      <input type="email" name="email">
    </label>
  </div>
  <div class="">
    <label class="login">
      Password
      <input type="password" name="password">
    </label>
  </div>
  <button class="">Sign In</button>

</form>
<div class="">
  <a href="/registration/sign_up/" class="link">Create New Account</a>
</div>
{% endblock %}
