ASSET_URL=http://localhost:5173
FILE_EXTENSION=png
VAULT_PATH="YOUR_PROJECT_ROOT/Code/server/core/static/"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
GROQ_API_KEY=""
YELP_CLIENT_ID=""
YELP_API_KEY=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_AUTHENTICATED_RESERVE_NUMBER=""
TWILIO_AUTHENTICATED_SENDER_NUMBER=""
TWILIO_AUTHENTICATED_SENDER_EMAIL=""
GRID_API_KEY=""
