:root {
  font-family: Arial, Helvetica, sans-serif;
  --primary-blue: #46ADF0;
  --secondary-blue: #10194B;
  --primary-red: #F02A69;
  --secondary-red: #802446;
  --content-background: #FCEBFF;
}

body {
  margin: 0;
}